@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 2px solid black
  }
}